#heading1{
    color: #B3C9E2;
    background-color: antiquewhite;
}
.text-pink{
    color: rgb(43, 52, 226);}

.text-para{
    font-size: 1.8rem;
    text-align: left;
    text-decoration: wavy;
    text-transform: lowercase;
    text-indent: 90%;
    white-space: nowrap;
}

.text-shadow{
    text-shadow: 2px 2px 5 px red;
}

h1{
    color: rgb(128, 0, 28);
}

h2{
    color: brown;
}
body{
    background-image: url("../IMG/istockphoto-517188688-612x612.jpg"); 
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-attachment: fixed;
    background-color: #ECEDDA;
    color: black;
}

h1{
    font-size: 3.8rem;
}

.text-background-yellow{
    background-color: yellow;
}

