/* CSS RESET */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* BASE STYLES */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem; /*stops the navbar from covering content on the screen*/
}

body {
    font-family: 'quando', Georgia, serif;
    background-color: rgb(236, 236, 221); /*background colour for entire website*/
}

/* NAVBAR STYLES */

.nav-link{
    color: rgb(236, 237, 218);
} /*Wave wesbite said contrast between header background and preset bootstrap font colour wasn't strong enough, so I changed to a higher contrast colour*/


/* MAIN STYLES */

.main {
    padding: 12.5rem 10vw 2rem; /*makes the menu style display for section pages*/
}


.section {
    height: 100vh;
    /*the sections are 100% of the viewport (aka display?)*/
}

.section:nth-child(1) {
    background: rgb(236, 237, 218);    
}

.section:nth-child(2) {
    background: rgb(190, 182, 198);
}

.section:nth-child(3) {
    background: rgb(197, 198, 182);
}

.section:nth-child(4) {
    background: rgb(236, 237, 218);
}

.section:nth-child(5) {
    background: rgb(182, 182, 182);
}

.heading {
    font-size: 64px;
    color: rgb(34, 28, 14);
}

/*HOME STYLES*/





/*CARD STYLES*/

.project_intro{
    color: rgb(59, 49, 24);
    padding: 10px 0px;
}

.btn-primary{
    color: rgb(59, 49, 24);
    background-color: rgb(236, 237, 218);
    border: none;
}

.btn-primary:hover{
    color: rgb(236, 237, 218);
    background-color: rgb(179, 201, 226);
    border: none;
}

.card{
    transition: 0.8s; /*makes hover smooth */
    background-color: rgb(151, 82, 21);
    color: rgb(236, 237, 218);
} 

.card:hover{
    transform: scale(1.15);
} /*enlarges card when hovered over*/

/*FOOTER STYLES*/

footer{
    background-color: rgb(151, 82, 21);
}

.footerContainer{
    width: 100%;
    padding: 1rem 1rem 1rem/*20px 20px 20px;*/
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: rgb(236, 237, 218);
    margin: 20px; /*this separates the links*/
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: rgb(128, 69, 18);
    padding: 1rem;
    text-align: center;
}

.footerBottom p{
    color: rgb(236, 237, 218)
}