/* CSS RESET */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* BASE STYLES */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    /*stops the navbar from covering content on the screen*/
}

@media (max-width: 2000px) {

    }




 body {
        font-family: 'quando', Georgia, serif;
        background-color: rgb(245, 245, 245);
        /*background colour for entire website*/
        padding: 12.5rem 10vw 2rem; /*gives a menu style appearance to entire website*/
 }

/* NAVBAR STYLES */

.nav-link {
    color: rgb(236, 237, 218);
}/*Wave wesbite said contrast between header background and preset bootstrap font colour wasn't strong enough, so I changed to a higher contrast colour*/


/* MAIN SITE STYLES */

#HOME,
#ABOUT,
#EXPERIENCE,
#PROJECTS,
#CONTACT {
    height: 100vh;
    padding: 3rem; /*this stops the sections from overlapping with one another*/
}

#HOME {
}


#ABOUT {
    background-color: red;
}

#EXPERIENCE {

}

#PROJECTS {

}

#CONTACT {
}

.heading {
    font-size: 64px;
    color: rgb(34, 28, 14);
}

/* HOME SECTION STYLES*/

.img {
    width: 100%;
    /*makes the img responsive and fill 100% of the container's width*/
    max-width: 400px;
    object-fit: cover;
    /*fits the container while maintaining aspect ratio*/
    vertical-align: middle;
}

.wrapper {
    padding: 0px 15px;
    display: flex;
    /*aligns elements within wrapper horizontally*/
    flex-wrap: wrap;
    /*moves element within wrapper to next line if there's not enough space*/
    align-items: center;
    /*vertically centering elements in container*/
    justify-content: space-around;
    /*allows elements within wrapper to take equal space around themselves */
    gap: 5rem;
    /*creates space between image and text elements*/
}

.intro {
    flex: 1
        /*makes sure the element takes up as much space as possible in the wrapper*/
}

/*EXPERIENCE SECTION STYLES*/

.accordion{
    --bs-accordion-btn-bg: rgba(179, 201, 226, 0.7);
    --bs-accordion-active-bg:  rgb(151, 82, 21);
    --bs-accordion-bg:  rgb(245, 245, 245);
    --bs-accordion-btn-focus-box-shadow: none; /*gets rid of blue border*/
    --bs-accordion-active-color: rgb(236, 237, 218); /*this is for font colour in accordion*/   
} 

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.progress{
    --bs-progress-height: 3rem;
    --bs-progress-font-size: 16px;
    --bs-progress-bg: rgba(179, 201, 226, 0.3);
    --bs-progress-bar-color: rgb(236, 237, 218);
    --bs-progress-bar-bg: rgb(151, 82, 21);
    --bs-progress-border-radius: 100px;
}




/*PROJECT SECTION STYLES*/

.project_intro {
    color: rgb(59, 49, 24);
    padding: 10px 0px;
}

.btn-primary {
    color: rgb(59, 49, 24);
    background-color: rgb(179, 201, 226);
    border: none;
}

.btn-primary:hover {
    color: rgb(179, 201, 226);
    background-color: rgb(59, 49, 24);
    border: none;
}

.card {
    transition: 0.8s;
    /*makes hover smooth */
    background-color: rgb(151, 82, 21);
    color: rgb(236, 237, 218);
}

.card:hover {
    transform: scale(1.15);
}/*enlarges card when hovered over*/


/*CONTACT SECTION STYLES*/

.contact-container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-title h1{
    font-weight: 600;
    color: rgb(59, 49, 24);
    font-size: 64px;
    margin-bottom: 5px;

}

.contact-title hr{
    border: none;
    width: 240px;
    height: 5px;
    background-color: rgb(59, 49, 24);
    border-radius: 10px;
    margin-bottom: 20px;

}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;

}

.contact textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid rgb(179, 201, 226);

}

.contact button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(59, 49, 24);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: rgb(179, 201, 226);
    cursor: pointer;

}

.contact button:hover{
    background: rgb(59, 49, 24);
    color: rgb(179, 201, 226);

}

/*FOOTER STYLES*/

footer {
    background-color: rgb(151, 82, 21);
}

.footerContainer {
    width: 100%;
    padding: 1rem 1rem 1rem
        /*20px 20px 20px;*/
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: rgb(236, 237, 218);
    margin: 20px;
    /*this separates the links*/
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 0.7;
}

.footerBottom {
    background-color: rgb(128, 69, 18);
    padding: 1rem;
    text-align: center;
}

.footerBottom p {
    color: rgb(236, 237, 218)
}