/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* BASE STYLES */

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'quando', Georgia, serif;
    background-color: rgb(236, 237, 218);
}

/* NAVBAR STYLES */


/* MAIN STYLES */

.main {
    
}

.section {
    height: 100vh;
    /*the sections are 100% of the viewport (aka display?)*/
    padding-top: 80px; /*this is to stop the navbar from blocking the section page elements */
    display: flex;
    justify-content: center; /*puts the content in the centre of the top*/
    align-items: center; /*puts the content in the middle of the page*/


}

.section:nth-child(1) {
    background: rgb(236, 237, 218);    
}

.section:nth-child(2) {
    background: rgb(190, 182, 198);
}

.section:nth-child(3) {
    background: rgb(197, 198, 182);
}

.section:nth-child(4) {
    background: rgb(198, 182, 182);
}

.section:nth-child(5) {
    background: rgb(182, 182, 182);
}

.heading {
    font-size: 150px;
}

.container{
    margin: 0 auto;
}


/*FOOTER STYLES*/


.footerContainer{
    background-color: rgb(90, 75, 37);
    width: 100%;
    padding: 10px 10px 10px;

}

.footerNav{
    margin: 10px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: rgb(236, 237, 218, 0.75);
    margin: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    
}

.footerNav ul li a:hover{
    color: rgb(236, 237, 218, 1);
}

.footerBottom{
    background-color: rgb(90, 75, 37);
    padding: 20px;
    text-align: center;
    color: rgb(236, 237, 218, 0.75);
}

