/* CSS RESET */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* BASE STYLES */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem; /*stops the navbar from covering content on the screen*/
}

@media (max-width: 2000px) {
 body {
 font-family: 'quando', Georgia, serif;
    background-color: rgb(236, 236, 221); /*background colour for entire website*/
    padding: 12.5rem 10vw 2rem;
 }
}

/* NAVBAR STYLES */

.nav-link{
    color: rgb(236, 237, 218);
} /*Wave wesbite said contrast between header background and preset bootstrap font colour wasn't strong enough, so I changed to a higher contrast colour*/


/* MAIN SITE STYLES */

#HOME,
#ABOUT,
#EXPERIENCE,
#PROJECTS,
#CONTACT{
   height: 100vh;
}

#HOME{
    background-color: rgb(236, 237, 218);
}


#ABOUT{
    background-color: red;
}

#EXPERIENCE{
    background-color: yellow;

}

#PROJECTS{
    background-color: rgb(236, 237, 218);
}

#CONTACT{
    background-color: blue;
}

.heading {
    font-size: 64px;
    color: rgb(34, 28, 14);
}

/* HOME SECTION STYLES*/

.img{
    width: 100%; /*makes the img responsive and fill 100% of the container's width*/
    max-width: 400px;
    object-fit: cover; /*fits the container while maintaining aspect ratio*/
    vertical-align: middle;
}

.wrapper{
    padding: 0px 15px;
    display: flex; /*aligns elements within wrapper horizontally*/
    flex-wrap: wrap; /*moves element within wrapper to next line if there's not enough space*/
    align-items: center; /*vertically centering elements in container*/
    justify-content: space-around; /*allows elements within wrapper to take equal space around themselves */
    gap: 5rem; /*creates space between image and text elements*/
}

.intro{
    flex: 1 /*makes sure the element takes up as much space as possible in the wrapper*/
}

/*CARD STYLES*/

.project_intro{
    color: rgb(59, 49, 24);
    padding: 10px 0px;
}

.btn-primary{
    color: rgb(59, 49, 24);
    background-color: rgb(236, 237, 218);
    border: none;
}

.btn-primary:hover{
    color: rgb(236, 237, 218);
    background-color: rgb(179, 201, 226);
    border: none;
}

.card{
    transition: 0.8s; /*makes hover smooth */
    background-color: rgb(151, 82, 21);
    color: rgb(236, 237, 218);
} 

.card:hover{
    transform: scale(1.15);
} /*enlarges card when hovered over*/

/*FOOTER STYLES*/

footer{
    background-color: rgb(151, 82, 21);
}

.footerContainer{
    width: 100%;
    padding: 1rem 1rem 1rem/*20px 20px 20px;*/
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: rgb(236, 237, 218);
    margin: 20px; /*this separates the links*/
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: rgb(128, 69, 18);
    padding: 1rem;
    text-align: center;
}

.footerBottom p{
    color: rgb(236, 237, 218)
}