/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* BASE STYLES */

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'quando', Georgia, serif;
    background-color: rgb(236, 237, 218);
}

/* NAVBAR STYLES */
.header {
    background-color: rgb(90, 75, 37);
    position: fixed; /*keeps the header fixed but need to add width otherwise it only takes up some of the page*/
    width: 100%;
    /*find and watch gradbyte video for keeping the header from taking up space on the section page*/
}

.header_content {
    display: flex;
    /*this puts logo on same line as nav_items*/
    align-items: center;
    /*determines how the nav_items appear*/
    justify-content: space-between;
    /*puts space between logo and nav_items*/
    height: 100px;
    padding: 0 25px;
    /*keeps the logo and nav_items from hitting the edge - 0 pixels top/bottom and 30 pixels right-left*/
}

.websitename {
    color:rgb(236, 237, 218);
    font-size: 32px;
    transform: translateX(100px);
    position: fixed;
    display: flex;
} /*this controls the the title Jillian Forsyth's Portfolio*/

.logo_img {
    height: 100px;
    display: flex
        /*helps keep the logo centered within the header*/
}


.nav {}

.nav_list {
    display: flex;
    /*puts the nav_items in a line*/
    column-gap: 40px;
    /*separates the nav_items by 40 px each*/
}

.nav_item {}

.nav_link {
    color: rgb(236, 237, 218, 0.75);
    font-size: 20px;
    transition: all 0.5s;

}

.nav_link:hover {
    color: rgb(236, 237, 218, 1);
}

.active{
    color: rgb(236, 237, 218, 1);
}

/* MAIN STYLES */

.main {
    
}

.section {
    height: 100vh;
    /*the sections are 100% of the viewport (aka display?)*/
    padding-top: 80px; /*this is to stop the navbar from blocking the section page elements */
   /* display: flex;
    justify-content: center; /*puts the content in the centre of the top
    align-items: center; /*puts the content in the middle of the page*/


}

.section:nth-child(1) {
    background: rgb(236, 237, 218);    
}

.section:nth-child(2) {
    background: rgb(190, 182, 198);
}

.section:nth-child(3) {
    background: rgb(197, 198, 182);
}

.section:nth-child(4) {
    background: rgb(198, 182, 182);
}

.section:nth-child(5) {
    background: rgb(182, 182, 182);
}

.heading {
    font-size: 150px;
}

.container{
    margin: 0 auto;
}

/*FOOTER STYLES*/


.footerContainer{
    background-color: rgb(90, 75, 37);
    width: 100%;
    padding: 10px 10px 10px;

}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: rgb(236, 237, 218, 0.75);
    margin: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    
}

.footerNav ul li a:hover{
    color: rgb(236, 237, 218, 1);
}

.footerBottom{
    background-color: rgb(90, 75, 37);
    padding: 20px;
    text-align: center;
    color: rgb(236, 237, 218, 0.75);
}

